table {
    border: 2px solid black;
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 10px 20px;
}
.names {
    border: 3px solid black;
}
th {
    background-color: #edecec;
}
tr:nth-child(odd){
    background-color: #e5e4e4;
}