@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* first exercise */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    border: 1px solid black;
    margin: 30px 0;
}
.outer {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(0, 192, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    border: 3px solid black;
    background-color: blueviolet;
    width: 150px;
    height: 150px;
}
/* second exercise */
.nav-wrapper {
    display: flex;
    background-color: pink;
    border: 5px solid #fff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.middle-container {
    background-color: #fff;
    color: rgb(255, 30, 0);
    padding: 15px 25px;
    font-weight: 900;
    font-size: 20px;
}
.nav-wrapper div a {
    text-decoration: none;
    background-color: #fff;
    color: blue;
    padding: 5px;
    margin: 10px;
}
.nav-wrapper div ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
/* third exercise */
.third-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blueviolet;
    padding: 8px;
}
.third-wrapper ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
.left-links {
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo {
    font-weight: 900;
    color: blueviolet;
    font-size: 30px;
}
.third-wrapper a {
    text-decoration: none;
}
.third-wrapper ul li a {
    color: blueviolet;
    font-style: 26px;
}
.right-links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.notify {
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: blueviolet;
}
.fourth-wrapper {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}
.fourth-wrapper div {
    width: 200px;
}
.fourth-wrapper div img {
    width: 100px;
    height: 100px;
}
.info {
    border: none;
    margin-bottom: 32px;
}
/*fifth container */
.fifth-wrapper {
    display: flex;
    width: 48vw;
    padding: 15px;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 10px;
    background-color: #fce3b5;
    border-radius: 10px;
}
.main-content {
    display: flex;
    flex-direction: column;
}
.header-info {
    display: flex;
    justify-content: space-between;
}

.exclaim-icon {
    background-color: #d5f6ec;
    width: 150px;
    height: 47px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
}
.buttons button{
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    margin-top: 12px;

}
.buttons button:first-child {
    background-color: #0fadbe;
    color: #fff;
}
.buttons button:last-child {
    color: #0fadbe;
    border: 1px solid #0f61be;
}
.x-icon {
    background-color: #dddbdb;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: none;
    font-size: 15px;
    font-weight: 700;
}
/* exercise six */
.sixth-container {
    border: 1px solid black;
    height: 100vh;
}
.sixth-container ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.sixth-container ul a {
    text-decoration: none;
    color: rgb(87, 83, 83);
}
.header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.middle-content img{
    max-width: 37vw;
}
.middle-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.middle-content input {
    width: 30vw;
    margin: 0 auto 2vh;
    border-radius: 15px;
    border: 1px solid rgb(207, 199, 199);
    height: 30px;
}

.image-buttons button {
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
}
.footer {
    padding: 5px;
    background-color: #8d8b8b;
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
}
.footer ul a {
    color: #fff;
}
/* exercise 7 */
.grail-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.grail-header {
    background-color: #8B008B;
    color: #fff;
    padding: 16px;
    font-size: 32px;
    font-weight: 900;
}
.main-grail-content {
    display: flex;
    flex: 1;
}
.left-grail-links {
    background-color: #4169E1;
    width: 280px;
    height: 120vh;
    padding: 16px;
    color: #fff;
    flex-shrink: 0;
}
.left-grail-links ul {
    list-style: none;
    font-style: 24px;
}
.left-grail-links ul li {
    margin-bottom: 16px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 48px;
    font-size: 12px;
}
.cards div {
    width: 300px;
    /* height: 270px; */
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
.grail-footer {
    background-color: #EEEEEE;
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
}
/* asdfgh */
.eight {
    display: flex;
    /* align-items: baseline; */
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}
.eight div {
    height: 200px;
    flex: 1 1 0;
}
.eight .eight-1 {
    background-color: red;
    width: 200px;
    /* flex-grow: 0; */
    height: 200px;
    /* align-self: center; */
}
.eight .eight-2 {
    background-color: green;
    width: 300px;
    height: 300px;
}
.eight .eight-3 {
    background-color: blue;
    width: 400px;
    height: 400px;
}
.yo {
    direction: rtl;
}